@model Category

<h1 class="text-center">Create new author</h1>

<form asp-controller="Admin" asp-action="CreateCategory" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <button type="submit" class="btn btn-success mt-3">Submit</button>

    <div class="text-danger" asp-validation-summary="All">

    </div>
</form>
