<h1 class="text-center">Admin dashboard</h1>

<ul class="list-group">
    <li class="list-group-item"><a asp-controller="Admin" asp-action="DisplayAllPersons">Persons</a></li>
    <li class="list-group-item"><a asp-controller="Admin" asp-action="DisplayAllAuthors">Authors</a></li>
    <li class="list-group-item"><a asp-controller="Admin" asp-action="DisplayAllCategories">Categories</a></li>
</ul>

