@model ForgotPasswordViewModel

<h1 class="text-center">Forgot password?</h1>

<form asp-action="ForgotPassword" method="POST">
    <div>
        <label asp-for="@Model.Email"></label>
        <input class="form-control" asp-for="@Model.Email" />
        <span class="text-danger" asp-validation-for="@Model.Email"></span>
    </div>
    <button class="btn btn-success mt-3" type="submit">Submit</button>

</form>