@model IEnumerable<IdentityRole>

<h1 class="text-center">@ViewBag.Title</h1>

<table class="table">
    <tr>
        <td>Role name</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    @if (Model.Any())
    {
        @foreach (var role in Model)
        {
        <tr>
            <td>@role.Name</td>
            <td><a asp-controller="Role" asp-action="EditRole" asp-route-id="@role.Id"> Edit </a></td>
            <td><a onclick="return confirm('Do you really want to delete this item ?')" 
                   asp-controller="Role" asp-action="DeleteRole" asp-route-id="@role.Id"> Delete </a></td>
        </tr>
        }
    }
</table>

<a class="text-light btn btn-success" asp-controller="Role" asp-action="CreateRole"> Create role </a>
