@model HomeDetailsViewModel

@{
    ViewBag.Title = "Specific person";
}

<h1>@Model.PageTitle</h1>

<div>
    <p>@Model.Person.Id</p>
    <p>@Model.Person.FirstName</p>
    <p>@Model.Person.LastName</p>
    <a asp-controller="home" asp-action="index">Back</a>
</div>

@section Scripts{
    <script src="~/js/SomeScript.js"></script>
}
