@model IEnumerable<Category>

<h1 class="text-center">@ViewBag.Title</h1>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Category name</td>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
     }
</table>

<a class="text-light btn btn-success" asp-controller="Category" asp-action="CreateCategory"> Create category </a>

